!!!
%html
  %head
    %title asana dashboard
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %p.notice= notice
    %p.alert= alert
    %div.navbar
      %div.navbar-inner
        %div.container
          %a.brand{:href => "/"} asana dashboard
          %ul.nav
            %li
              %a{:href => "/"} Current
            %li
              %a{:href => "/todays"} Completed
    %div{:id => "content", :class => controller.controller_name}
      = yield

